/*variables*/
:root {
    --bgcolor:rgb(4, 15, 24);
    --main: rgb(255, 255, 255);
    --second: rgb(165, 165, 165);
    --accent: rgb(161, 225, 255);

    --icon: rgb(255, 255, 255);

    --elm1: rgb(32, 36, 39);
}

body {
    background-color: var(--bgcolor);
}

.pagehero {
    position: relative;
    padding: 2em;
    display: flex;
    justify-content: center;
    margin-top: 3em;
}
.imagecomp {
    position: relative;
    width: 500px;
    height: 500px;
    margin-right: 2em;
}
.mary {
    position: absolute;
    width: 400px;
    height: 500px;
    background: url(../file/img/content/hi.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(10em, 0em);
    z-index: 1;
}
.bgaes {
    position: absolute;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    width: 300px;
    height: 400px;
    z-index: 0;
    transform: translate(8em, 4em);
}
.bgaes1 {
    position: absolute;
    border: 5px solid rgba(255, 255, 255, 0.623);
    width: 300px;
    height: 430px;
    border-radius: 10px;
}
.textherowrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.texthero {
    position: relative;
    font-family: IBM Plex Mono;
    font-weight: 700;
    font-size: 4rem;
    color: white;
}